<h1> Details for all contestants </h1>

<% @contestants.each do |contestant| %>
  <%= contestant.name %>
  Projects:
  <% contestant.projects.each do |project| %>
    <%= project.name %>
  <% end %>
<% end %>


